.container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 100vh;
}
.top1{
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    flex-direction: row;
}
.banner{
    width: 100%;
    height: 35vh;
    background-color: black;
}
.sideb{
    width: 20%;
    height: 100vh;
}
.band{
    width: 100%;
    height: 100vh;
}
.main{
    width: 80%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.topc{
    width: 60%;
    height: 40vh;
    background-color: whitesmoke;
}
.imgtop{
    width: 40%;
    height: 40vh;
    justify-content: center;
    background-color: whitesmoke;
}
.japan1{
    width: 90%;;
    height: 30vh;
    margin-top: 5vh;
    margin-left: 5%;
}
.logo{
    width: 6%;
    height: 10vh;
    margin-left: 93.5%;
}
.lowc{
    width: 100%;
    height: 60vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.leftf{
    width: 30%;
    height: 60vh;
}
.rightt{
    width: 70%;
    height: 60vh;
    background-color: whitesmoke;
}
.ban{
    width: 90%;
    height: 25vh;
    margin-left: 5%;
    margin-top: 2.5%;
}
.h1n1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
}
.p1n1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    width: 90%;
    margin-left: 5%;
}
.h2n2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
.p2n2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    width: 90%;
    margin-left: 5%;
}
.not{
    width: 75%;
    height: 18vh;
    margin-left: 12.5%;
    margin-top: 2.5%;
}
@media only screen and (max-width: 700px) {
    .container{
        background-color: black;
    }
    .sideb{
        display: none;
    }
    .main{
        width: 100%;
        height: 100vh;
    }
    .topc{
        width: 100%;
        height: 25vh;
    }
    .leftf{
        width: 40%;
        height: 80vh;
        background-color: black;
    }
    .rightt{
        width: 60%;
        height: 80vh;
        background-color: black;
    }
    .imgtop{
        width: 100%;
        height: 40vh;
        display: block;
    }
    .not{
        width: 100%;
        height: 18vh;
        margin-left: 0%;
        margin-top: 20%;
    }
    .h2n2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: justify;
        width: 90%;
        margin-left: 5%;
        margin-top: 2%;
        color: whitesmoke;
        display: inline-block;
    }
    .p2n2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-align: justify;
        width: 90%;
        margin-left: 5%;
        color: whitesmoke;
        display: block;
    }
    .ban{
        width: 100%;
        margin-left: 0;
        margin-top: 7%;
        display: block;
    }
    .h1n1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: justify;
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }
    .p1n1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-align: justify;
        width: 90%;
        margin-left: 5%;
    }
    .logo{
        width: 20%;
        margin-left: 80%;
    }
}